/* CSS/Map.css 또는 원하는 CSS 파일 */

body {
  overflow: hidden;
}
/* 검색 결과 목록 */
#placesList li {
  list-style: none;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#placesList .item .info {
  padding: 10px 0 10px 55px;
}

#placesList .info .gray {
  color: #8a8a8a;
}

#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
  color: #2453B3;
}


/* 지도 */
html, body {
  height: 100%; /* HTML과 body 요소의 높이를 100%로 설정 */
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
}

.map{
  width: 100%;
  height: 1200px;
}


/* 검색 창 */
#menu_wrap {
  position: absolute;
  display: "flex";
  width: 100%;
  z-index: 1000;
  background: #1C1209;
  font-size: 10px;
}

/* 검색바 */
.search-bar {
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #1C1209 0%, #8a7665 250%);
  color: #fff;
  z-index: 1000;
}




/* 페이징 */
/* .pagination button {
  background-color: transparent;
  pag: 5px;
  border: none;
  border-right: solid 1px;
  border-bottom: solid 1px;
  color: #333;
  cursor: pointer;
} */
.pagination button {
  margin: 5px;
  padding: 5px 10px;
  border : 1px solid ;
  cursor: pointer;
}

.pagination button.active {
  font-weight: bold;
  background-color: aliceblue;
}

/* 컴포넌트화 진행 여기서부터 시작 */
.search-form{

}

/* 미디어 쿼리: 768px 이상일 때 사이드바 적용 */
@media (min-width: 768px) {

  .map_wrap {
    width: calc(100% + 400px); /*사이드바 너비를 뺀 나머지 너비*/
    height: 100%;
    position: absolute;
    /* top: 64px;   헤더 분리 문제 여기 94px->64로 수정 */
    border-top: 0px;
  }

  #menu_wrap {
    width: 400px; /* 사이드바 너비 */
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #fff;
    overflow-y: auto; /* 내용이 길어지면 스크롤 */
    overflow: hidden
  }
}

/* 작은 화면 스타일 (767px 이하) */
@media (max-width: 767px) {
  /* @media {style={md=6}}{ */
  .map_wrap {
    width: 100%;
    /* height: calc(100% - 64px); 헤더 높이를 뺀 나머지 높이 */
    position: absolute;
    /* top: 64px; 헤더 아래로 위치 */
    left: 0;
  }

  #menu_wrap {
    position: fixed;
    display: flex;
    flex-direction: column; /* Flex 방향 설정 */
    width: 100%;
    height: 100%; /*전체 화면 높이*/
    /* height: calc(100% - 64px); 헤더 높이를 뺀 나머지 높이 */
    /* top: 64px; 전체 화면으로 확장 */
    left: 0; /* 전체 화면으로 확장 */
    z-index: 1000;
    background: #fff;
    font-size: 10px;
    overflow-y: auto;
  }
  
  .searchClose {
    align-self: flex-end; /* 오른쪽 정렬 */
    background-color: transparent;
    border: none;
    color: #524a4a;
    font-size: 10px;
    cursor: pointer;
  }

  .options-container {
    position: absolute;
    top: 100%; 
    left: -2px;
    background-color: #fff;
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 100%; /* 검색 폼 너비에 맞게 설정 */
  }
}
